.nav-wrapper{
	background-color: #4db6ac;
	font-family: Century Gothic;
}

.page-footer{
    background-color: #8099C4;
	font-family: Century Gothic;
 }

.jojoba{
	font-family: Century Gothic;
}

.loca{
	font-size: 17px;
}

.loquita{
	font-size: 21px;
}

.btn{
	background-color: #ff0000;
}

.locota{
   font-size: 19px;
}

.valign-wrapper{

	border-radius: 11px;
}

.cositas{

	margin-right: 70px; 
	margin-left: 70px;
}

.cosita{

	margin-right: 25px; 
	margin-left: 25px;
}


